<!DOCTYPE html>                                                                                                                
<html lang="{{ .Params.lang }}">

{{ partial "header.html" . }}

<body>

{{ partial "jumbo.html" . }}

{{ partial "navbar.html" . }}

<div class="container">

<div class="row">
<div class="col-md-3 hidden-sm hidden-xs">
{{ partial "menu-blog.html" . }}
{{ partial "poweredby.html" . }}
</div>

<div class="col-md-9 col-sm-12">

{{ partial "title.html" . }}

{{ .Content }}

<nav>
<ul class="pager">
{{ if .PrevInSection }}
<li class="previous"><a href="{{ .PrevInSection.RelPermalink }}"><span aria-hidden="true">&larr;</span> Précédent</a></li>
{{ end }}
{{ if .NextInSection }}
<li class="next"><a href="{{ .NextInSection.RelPermalink }}">Suivant <span aria-hidden="true">&rarr;</span></a></li>
{{ end }}
</ul>
</nav>


{{ partial "isso.html" . }}

</div>
</div>

</div>

{{ partial "footer.html" . }}

{{ partial "javascript.html" . }}

</body>

</html>
