<!-- <div class="panel panel-primary"> -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Derniers posts</h3>
  </div>
  <div class="panel-body">
    {{ range first 12 (where .Site.Pages "Section" "blog") }}
    {{ if not ( isset .Params "draft" ) }}
    <a href="{{ .RelPermalink }}">{{ .Title }}
    {{ if isset .Params "new" }}
    <span class="label label-warning">New</span>
    {{ end }}
    </a><br>
    {{ end }}
    {{ end }}

    <br>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" 
              aria-haspopup="true" aria-expanded="true">
        Tags
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {{ range $name, $tag := .Site.Taxonomies.tags }}
        <li><a href="/tags/{{ $name }}.html">{{ $name }}</a></li>
        {{ end }}
     </ul>
   </div>

  </div>

</div>


