<div class="thumbnail">
  <a href="http://debian.org">
  <p class="powered-by">Powered by</p>
  <img src="/img/debian.png" class="figure" alt="Debian">
  </a>
</div>

<div class="thumbnail">
  <a href="http://fr.ulule.com/5supplices/">
  <p class="powered-by">L'Appel de Cthulhu - Les 5 Supplices</p>
  <img src="/img/cthulhu-5-supplices-1.png" class="figure" alt="5 Supplices">
  <img src="/img/cthulhu-5-supplices-2.png" class="figure" alt="5 Supplices">
  <img src="/img/cthulhu-5-supplices-3.png" class="figure" alt="5 Supplices">
  </a>
</div>
