<div class="col-lg-12">
<div id="wordcloud" class="wordcloud">
{{ range $name, $tag := .Site.Taxonomies.tags }}
{{ $weight := len $tag.Pages }}
<span data-weight="{{ $weight }}"><a href="/tags/{{ $name }}.html">{{ $name }}</a></span>
{{ end }}
</div>
<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    /* resize the tags cloud to match the size of the screen */
    var size = Math.min($(window).width(), $(window).height()) - 30;
    $("#wordcloud").attr("style", "height:"+size+"px;width:"+size+"px;");
    /* initialize tags cloud */
    $("#wordcloud").awesomeCloud({
        "size" : {
            "grid" : 10,
            "factor" : 0,
            "normalize": false
        },
        "options" : {
            "color" : "random-dark",
            "rotationRatio" : 0.35
        },
        "font" : "'Times New Roman', Times, serif",
        "shape" : "square"
    });
});
</script>
<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
</div>
