<!DOCTYPE html>                                                                                                                
<html lang="{{ .Params.lang }}">

{{ partial "header.html" . }}

<body>

{{ partial "jumbo.html" . }}

{{ partial "navbar.html" . }}

<div class="container">

<div class="row">
<div class="col-md-3 hidden-sm hidden-xs">
{{ partial "menu-blog.html" . }}
{{ partial "poweredby.html" . }}
</div>

<div class="col-md-9 col-sm-12">

<div class="page-header">
    <h1 class="title">{{ .Title }}</h1>
</div>

<div class="row">
{{ range .Data.Pages }}
<div class="col-md-12">
<h3>{{ .Title }}
{{ if isset .Params "new" }}
<span class="label label-warning">New</span>
{{ end }}
</h3>
{{ .Summary }}
<div class="row">
<div class="col-md-12 pull-right">
<a href="{{ .RelPermalink }}" class="btn btn-primary pull-right" role="button">Lire la suite</a>
</div>
</div>
</div>
{{ end }}
</div>
</div>

</div>
</div>

</div>

{{ partial "footer.html" . }}

{{ partial "javascript.html" . }}

</body>

</html>
